@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    /* display */
    @apply flex flex-col;
    /* size w x h */
    @apply max-w-screen-lg w-full min-h-screen;
    /* margin and padding */
    @apply p-4 m-auto;
    /* text */
    @apply text-lg justify-center;
    font-family: 'Roboto', sans-serif;
    /* text & bg color */
    background-color: hsl(33, 80%, 92%);
}

main {
    /* display */
    @apply flex-1 flex;
}

h1 {
    /* margin and padding */
    @apply my-2;
    /* text */
    @apply text-3xl font-black;
}

h3 {
    /* margin and padding */
    @apply my-1;
    /* text */
    @apply text-2xl font-bold;
}

h4 {
    /* margin and padding */
    @apply my-0.5;
    /* text */
    @apply text-xl font-bold ;
}

p {
    /* margin and padding */
    @apply my-4;
    /* text */
    @apply text-justify;
}

ul {
    /* display */
    @apply list-inside list-disc; 
    /* text */
    @apply text-justify;
}

ul ul {
    /* margin and padding */
    @apply ml-8 mb-6;
}

a:hover {
     /* text & bg color */
    @apply text-blue-600;
}

i {
    /* text */
    @apply italic;
}
hr {
    /* margin and padding */
    @apply m-2;
    /* border */
    @apply border-0 border-t-4;
    border-color: hsl(33, 60%, 88%);
}