---
import Document from '../layouts/Document.astro'
import BlogPost from '../components/BlogPost.astro'

const posts = (await Astro.glob('./posts/*.md')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<Document>
	<section class="posts w-full">
	{posts.map( (post) => (
			<BlogPost url={post.url} meta={post.frontmatter} />
	))}
	</section>
</Document>