---
// import ArticleCard from '../components/ArticleCard.astro';
import Document from '../layouts/Document.astro'
import Icon from '../components/Icon.astro'
// TODO: implement the recuperation system on the 3 last element
// const posts = (await Astro.glob('./posts/*.md')).sort(
// 	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
// );
---

<Document>
	<section class="intro">
		<h1>Salut, moi c'est Cédric <Icon s="32" emoji="👋" /></h1>
		<p>
			Bienvenue sur mon site, ici vous trouverez des articles sur la tech,
		l'administration des systèmes, réseaux, du dev ainsi que tous un tas 
		de billets d'humeur sur des sujets variés.
		</p>
		<hr />
		<h3>~Pourquoi 0xcc ?</h3>
		<p>
			Bonne question ^^, disons que l'on peut voir ca sous plusieurs 
			angles :
		</p>
			<ul>
				<li><h4>le site <a href="https://0xcc.fr/">0xcc.fr</a> ?</h4></li>
				<ul>
					<li>
						Ce site est apparu dans le but de partager
						la connaissance sur différents domaines techniques mais
						aussi dans le but de me servir de mémo personnel parce
						que savoir c'est bien mais se souvenir c'est mieux (
						<i>
						citation approximative d'un grec pas très connu
						</i> )
					</li>
				</ul>
				<li><h4>le pseudo <span class="highlight">0xcc</span> ?</h4></li>
				<ul>
					<li>
						Alors j'ai pris les deux "c" dans mon prénom ...,
						effectivement on peut dire que je me suis pas foulé sur
						ce coup la.
					</li>
				</ul>
			</ul>

	</section>

	<!-- TODO: implement this correctly -->
	<!-- <section class="last-3-posts">
		{posts.map( (post) => (
				<ArticleCard url={post.url} meta={post.frontmatter} />
		))}
	</section> -->
</Document>

<style>
	.intro {
		/* margin & padding */
		@apply mb-4;
	}

	li > h4 {
		/* display */
		@apply inline;
	}

	.highlight {
		/* margin & padding */
		@apply p-1;
		/* border */
		@apply bg-black text-white;
		/* text */
		@apply rounded-sm;
		font-family: 'JetBrains Monospace', monospace;
		/* text & bg color */
		@apply bg-black text-white;
	}
</style>