---
// import ArticleCard from '../components/ArticleCard.astro';
import Document from '../layouts/Document.astro'
import Icon from '../components/Icon.astro'
// TODO: implement the recuperation system on the 3 last element
// const posts = (await Astro.glob('./posts/*.md')).sort(
// 	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
// );
---

<Document>

	<section class="intro mb-4">
		<h1>Salut, moi c'est Cédric <Icon s="32" emoji="👋" /></h1>
		<p>
			Bienvenue sur mon site, ici vous trouverez des articles sur la tech,
		l'administration des systèmes, réseaux, du dev ainsi que tous un tas 
		de billets d'humeur sur des sujets variés.
		</p>
		<hr class="m-8 border-2 border-bg-gray rounded">
		<h3 class="mb-4">~Pourquoi 0xcc ?</h3>
		<p class="mb-2">
			Bonne question ^^, disons que l'on peut voir ca sous plusieurs 
			angles :
		</p>
			<ul class="list-inside list-disc text-justify">
				<li><h4 class="inline">le site <a href="https://0xcc.fr/">0xcc.fr</a> ?</h4></li>
				<ul class="list-inside list-disc ml-8 mb-6">
					<li>
						Ce site est apparu dans le but de partager
						la connaissance sur différents domaines techniques mais
						aussi dans le but de me servir de mémo personnel parce
						que savoir c'est bien mais se souvenir c'est mieux (
						<span class="italic">
						citation approximative d'un grec pas très connu
						</span> )
					</li>
				</ul>
				<li><h4 class="inline">le pseudo <span class="font-jetbrains bg-black text-white p-1 rounded-sm">0xcc</span> ?</h4></li>
				<ul class="list-inside list-disc ml-8 mb-6">
					<li>
						Alors j'ai pris les deux "c" dans mon prénom ...,
						effectivement on peut dire que je me suis pas foulé sur
						ce coup la.
					</li>
				</ul>
			</ul>

	</section>

	<!-- TODO: implement this correctly -->
	<!-- <section class="last-3-posts">
		{posts.map( (post) => (
				<ArticleCard url={post.url} meta={post.frontmatter} />
		))}
	</section> -->
</Document>