<div>01001100 01110011 11010000 00001011 00010000 00001100 00001100</div>

<style>
    div {
        @apply whitespace-nowrap mr-4 bg-black text-white p-1 pt-4 pb-4 rounded-sm;
        writing-mode: vertical-lr;
        text-orientation: sideways-right;
        font-family: 'JetBrains Monospace', monospace;
    }
</style>