---
import Icon from '../components/Icon.astro'
---

<footer>
    <p>
        0xcc.fr — fait avec <Icon emoji="💗"/> en utilisant <a href="https://astro.build">astro</a>, hebergé gracieusement par <a href="https://pages.github.com">github</a>.
    </p>
</footer>

<style>
    footer {
        /* margin and padding */
        @apply mt-8 p-2;
        /* border */
        @apply border-t-4;
        border-color: hsl(33, 60%, 88%);
    }
</style>