
<header class="mt-2 mb-8">
    <nav class="flex items-end justify-between font-jetbrains tracking-tight">
        <h1 class="hidden w-24 h-24 mb-0 mr-8 text-3xl transform -rotate-90 bg-black text-white sm:flex flex-col justify-center items-center rounded-sm ">
            <span class="">&nbsp;[0x</span>
            <span class="">cc]&nbsp;</span>
        </h1>
        <div class="flex-1 flex justify-center">
            <a class="p-1 flex flex-col justify-center items-center bg-black text-white rounded-sm" href="/">
                <span class="p-1 text-xl"><span class="font-bold">/</span>Home</span>
            </a>
            <a class="p-1 ml-4 flex flex-col justify-center items-center bg-black text-white rounded-sm" href="#/blog">
                <span class="p-1 text-xl"><span class="font-bold">/</span>Blog</span>
            </a>
            <a class="p-1 ml-4 flex flex-col justify-center items-center bg-black text-white rounded-sm" href="/about">
                <span class="p-1 text-xl"><span class="font-bold">/</span>Me</span>
            </a>
        </div>
    </nav>
    <span class="block text-xl font-jetbrains tracking-tight transform -rotate-90"></span>
</header>