<header>
    <nav>
        <h1 class="logo">
            <span class="">&nbsp;[0x</span>
            <span class="">cc]&nbsp;</span>
        </h1>
        <div>
            <a href="/">
                <span class="p-1 text-xl"><span class="font-bold">/</span>Home</span>
            </a>
            <a href="/blog">
                <span class="p-1 text-xl"><span class="font-bold">/</span>Blog</span>
            </a>
            <a href="/about">
                <span class="p-1 text-xl"><span class="font-bold">/</span>Me</span>
            </a>
        </div>
    </nav>
</header>

<style>
    header {
        /* margin and padding */
        @apply mt-2 mb-8;
        /* text */
        font-family: 'JetBrains Monospace', monospace;
    }

    nav {
        /* display */
        @apply flex justify-between items-end;
        /* text */
        @apply tracking-tight;
    }

    .logo { /* hidden by default show if screen > sm */
        /* display */
        @apply hidden;
        /* size w x h */
        @apply w-24 h-24;
        /* margin and padding */ 
        @apply mb-0 mr-8;
        /* text */
        @apply text-3xl;
        /* text & bg color */
        @apply text-white bg-black;
        /* effect */
        @apply transform -rotate-90;
        /***~- breakpoint ~-***/
        @apply sm:flex sm:flex-col sm:justify-center sm:items-center;
        /* border */
        @apply sm:rounded-sm;
    }

    div {
        /* display */
        @apply flex-1 flex justify-center;
    }

    a {
        /* display */
        @apply flex flex-col justify-center items-center;
        /* margin & padding */
        @apply m-2 p-1;
        /* border */
        @apply rounded-sm;
        /* text & bg-color */
        @apply bg-black text-white;
    }
</style>