---
import Head   from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

import { SITE_LANG, SITE_TITLE } from '../config'
---

<html lang={SITE_LANG}>
	<Head title={SITE_TITLE} />
	<body>
		<Header />
		<main>
			<article>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>