---
import Head   from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import BinaryBanner from '../components/BinaryBanner.astro'

import { SITE_LANG, SITE_TITLE } from '../config'
---

<html lang={SITE_LANG}>
	<Head title={SITE_TITLE} />
	<body>
		<Header />
		<main>
			<BinaryBanner />
			<slot />
		</main>
		<Footer />
	</body>
</html>